<header class="header">
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">Quan<span>.</span>CV</div>
        <div class="main_nav d-flex flex-row align-items-end justify-content-start">
            <ul class="d-flex flex-row align-items-center justify-content-start">
                <li class='active'><a href="home.html">Informacion Personal</a></li>
                <li><a href="academica.html">Formacion Academica</a></li>
                <li><a href="laboral.html">Experiencica Laboral</a></li>
            </ul>
            </div>
        </div>