<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
    <div>
        <div class="general_info_image">
            <div class="background_image" style="background-image:url(images/smith.jpg)"></div>
        </div>
    </div>
    <div class="general_info_content">
        <div class="general_info_content_inner mCustomScrollbar _mCS_1 mCS-autoHide" data-mcs-theme="minimal-dark" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
            <div class="general_info_title">General Information</div>
            <ul class="general_info_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_1.png" alt="" class="mCS_img_loaded"></div>
                    <div class="general_info_text">Name: <span>{{data['Nombre']}}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"></div>
                    <div class="general_info_text">Edad: <span>{{data['Edad']}}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_2.png" alt="" class="mCS_img_loaded"></div>
                    <div class="general_info_text">Estado Civil: <span>{{data['Estado civil']}}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_3.png" alt="" class="mCS_img_loaded"></div>
                    <div class="general_info_text"><a href="mailto:{{data['Correo electronico']}}?subject=Job_Inquiry">{{data['Correo electronico']}}</a></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_4.png" alt="" class="mCS_img_loaded"></div>
                    <div class="general_info_text">{{data['Direccion']}}</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                        <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_4.png" alt="" class="mCS_img_loaded"></div>
                        <div class="general_info_text">{{data['Nacionalidad']}}</div>
                    </li>
                </li>
            </ul>

        </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
    </div>
</div>