{% extends 'layout.html' %}

{% block body %}
<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_subtitle">{{data['Developer']}}</div>
					<div class="main_title">{{data['Nombre Corto']}}</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar _mCS_2 mCS-autoHide" data-mcs-theme="minimal-dark" style="overflow: visible;"><div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
					<div class="about_content">
						<div class="about_title">Descripcion</div>
						<div class="about_text">
							<p>{{data['About']['Descripcion']}}</p>
						</div>

						<!-- Loaders -->

						<div class="loaders clearfix">

							<!-- Loader -->
							<div class="loader_container">
								<div class="loader" data-perc="0.75"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="#e5e6e8" stroke-width="20" fill-opacity="0"></path><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="rgb(133,131,225)" stroke-width="1" fill-opacity="0" style="stroke-dasharray: 251.363, 251.363; stroke-dashoffset: 62.8407;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(16, 15, 58); font-family: Montserrat, sans-serif; font-size: 44px; font-weight: 700;">75%</div></div>
								<div class="loader_content text-center">
									<div class="loader_title">intuition</div>
									<div class="loader_subtitle">Etiam nec odio vestibulum est.</div>
								</div>
							</div>
							
							<!-- Loader -->
							<div class="loader_container">
								<div class="loader" data-perc="0.83"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="#e5e6e8" stroke-width="20" fill-opacity="0"></path><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="rgb(133,131,225)" stroke-width="1" fill-opacity="0" style="stroke-dasharray: 251.363, 251.363; stroke-dashoffset: 42.7317;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(16, 15, 58); font-family: Montserrat, sans-serif; font-size: 44px; font-weight: 700;">83%</div></div>
								<div class="loader_content text-center">
									<div class="loader_title">creativity</div>
									<div class="loader_subtitle">Odio vestibulum est mattis.</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container">
								<div class="loader" data-perc="0.25"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="#e5e6e8" stroke-width="20" fill-opacity="0"></path><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="rgb(133,131,225)" stroke-width="1" fill-opacity="0" style="stroke-dasharray: 251.363, 251.363; stroke-dashoffset: 188.522;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(16, 15, 58); font-family: Montserrat, sans-serif; font-size: 44px; font-weight: 700;">25%</div></div>
								<div class="loader_content text-center">
									<div class="loader_title">pure luck</div>
									<div class="loader_subtitle">Vestibulum est mattis effic.</div>
								</div>
							</div>

							<!-- Loader -->
							<div class="loader_container">
								<div class="loader" data-perc="0.95"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="#e5e6e8" stroke-width="20" fill-opacity="0"></path><path d="M 50,50 m 0,-40 a 40,40 0 1 1 0,80 a 40,40 0 1 1 0,-80" stroke="rgb(133,131,225)" stroke-width="1" fill-opacity="0" style="stroke-dasharray: 251.363, 251.363; stroke-dashoffset: 12.5681;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(16, 15, 58); font-family: Montserrat, sans-serif; font-size: 44px; font-weight: 700;">95%</div></div>
								<div class="loader_content text-center">
									<div class="loader_title">awesomeness</div>
									<div class="loader_subtitle">Vestibulum est mattis effic.</div>
								</div>
							</div>

						</div>
					</div>
				</div></div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 0px; max-height: 251.4px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>

			</div>

{% endblock %}