{% extends 'layout.html' %}

{% block body %}
<div class="main_content">
				<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
					<div class="main_subtitle">{{data['Developer']}}</div>
					<div class="main_title">{{data['Nombre Corto']}}</div>
				</div>
				<div class="main_content_scroll mCustomScrollbar _mCS_2 mCS-autoHide" data-mcs-theme="minimal-dark" style="overflow: visible;"><div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
					<div class="about_content">
						<div class="about_title">Descripcion</div>
						<div class="about_text">
							<p>{{data['About']['Descripcion']}}</p>
						</div>

						</div>
					</div>
				</div></div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 0px; max-height: 251.4px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>

			</div>

{% endblock %}