<!-- DRY -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CV-Flask</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.mCustomScrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
  </head>
  <body>
    <!-- JINJA2 -->
    <div class='super_container'>
    {% include 'includes/_header.html' %}
      <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">
      {% include 'includes/_info.html' %}
        <div class="content_container">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='jquery.mCustomScrollbar.css') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='TweenMax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='TimelineMax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ScrollMagic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='animation.gsap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ScrollToPlugin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='progressbar.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.mCustomScrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='easing.js') }}"></script>
    <script src="{{ url_for('static', filename='parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    </script>
  </body>
</html>
